<% provide(:title, 'Welcome to LoLTeam') %>

<p>
    LoLTeam is intended to be a League of Legends website to help summoners view stats and assist summoners in maximizing their hance of winning in ranked solo/party queue.
</p>
<p>
    LoLTeam was a way for us to learn how to use the Riot API and the rails framework
</p>
