<h1>Summoner Profile </h1>
<h2>
    <div class = gravatar>
  <%= image_tag(@summoner[:icon]) %>
  <%= @summoner[:screen_name] %>
  Level <%= @summoner[:level] %>
  ID <%= @summoner[:id] %>
</h2>
<p>
   <svg id="graph"></svg>
</p>