<h1>Champion Index </h1>

  <% @champions.each do |hash|  %>
    <% result = hash['image'] %>
    <% result_title = hash['title'] %>
    <a title= <% result_title %> >
      <%= image_tag result %>
      </a>
    <% end %>
